@import 'tailwindcss';

@font-face {
  font-family: 'PPNeueMontreal-Bold';
  src: url('./assets/PPNeueMontreal-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'PPNeueMontreal-Medium';
  src: url('./assets/PPNeueMontreal-Medium.woff2') format('woff2');
}

@theme {
  --font-display: 'PPNeueMontreal-Bold', 'sans-serif';
  --font-body: 'PPNeueMontreal-Medium', 'sans-serif';
}

@layer base {
  body,
  html {
    @apply h-[100vh] w-full overflow-hidden;
  }
}
